<div id="editor_{{ include.id }}" class="editor">
  <div class="editor-content" style="height: {{include.height }};" id="editor_content_{{ include.id }}">{{
    include.content }}</div>
  {% if include.showButton %}
  <button class="editor-button" id="editor_button_{{ include.id }}" onclick="codeEditor.runCode('{{ include.id }}')">
    Run Code <i class="editor-button-loader"></i>
  </button>
  {% endif %}
  <pre class="editor-result" id="editor_result_{{ include.id }}"></pre>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      codeEditor.init("editor_content_{{ include.id }}", "ace/mode/{{ include.language | default: 'javascript' }}")
    });
  </script>
</div>